@font-face{
	font-family:"Qlassik";
	src:url("../font/Qlassik.eot") format("eot"),
	url("../font/Qlassik.woff") format("woff"),
	url("../font/Qlassik.ttf") format("truetype"),
	url("../font/Qlassik.svg#Qlassik") format("svg");
}
@font-face{
	font-family:"Montserrat-Regular";
	src:url("../font/Montserrat-Regular.eot") format("eot"),
	url("../font/Montserrat-Regular.woff") format("woff"),
	url("../font/Montserrat-Regular.ttf") format("truetype"),
	url("../font/Montserrat-Regular.svg#Montserrat-Medium") format("svg");
}
@font-face{
	font-family:"Frunch";
	src:url("../font/Frunch.ttf") format("truetype");
}
@font-face{
	font-family:"OpenSans-Light";
	src:url("../font/OpenSans-Light.ttf") format("truetype");
}